:root {
  --p-colorRed500: hsl(0, 93%, 68%);
  --p-colorRed400: hsl(0, 74%, 74%);
  --p-colorRed300: hsl(0, 36%, 70%);
  --p-colorRed200: hsl(0, 80%, 86%);
  --n-colorGray500: hsl(0, 6%, 24%);
  --n-colorGray400: hsl(0, 0%, 100%);
  --n-colorTransparentGray600: hsla(0, 6%, 24%, 0.4);
  --g-linear-white-500: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );
  --g-linear-red-500: linear-gradient(
    135deg,
    hsl(0, 80%, 86%),
    hsl(0, 74%, 74%)
  );
  --color-text-error: var(--p-colorRed500);
  --color-text-default: var(--p-colorRed300);
  --color-text-subheadline: var(--p-colorRed300);
  --color-text-headline: var(--n-colorGray500);
  --color-border-base: var(--n-colorTransparentGray600);
  --color-border-error: var(--p-colorRed500);
  --color-button-default: var(--g-linear-red-500);
  --color-button-hovered: ;
  --color-background-default: var(--n-colorGray400);
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-size-700: 6.4rem;
  --font-size-600: 4rem;
  --font-size-500: 1.6rem;
  --font-size-400: 1.4rem;
  --font-family-default: "Josefin Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family-default);
  font-size: var(--font-size-500);
  font-weight: var(--font-weight-normal);
  color: var(--color-text-default);
  background-color: var(--color-background-default);
}

@keyframes shake {
  0% {
    transform: translate(-0, -25%);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate(-0.8em, -25%);
  }
  10%,
  30%,
  50% {
    transform: translate(-0.2em, -25%);
  }

  70%,
  100% {
    transform: translate(-0, -25%);
  }
}

.h-wrapper {
  position: relative;
  overflow: hidden;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.header__img-container {
  padding: 6.5rem 16.5rem;
}

.featured-panel__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.featured-panel__element {
  padding: 0 3.2rem;
  width: 100%;
}

@media only screen and (min-width: 997px) {
  .featured-panel__container {
    height: 100vh;
  }
}

.featured-panel__content-overlay {
  padding-right: 5.6rem;
}

.featured-panel__content-container {
  margin: 0 auto;
  padding-top: 23.2rem;
  max-width: 44.5rem;
  width: 100%;
}

.featured-panel__text-content {
  margin-bottom: 4rem;
}

.featured-panel__subheadline {
  font-size: var(--font-size-700);
  font-weight: var(--font-weight-light);
  line-height: 6.8rem;
  letter-spacing: 0.265em;
}

.featured-panel__headline {
  margin-bottom: 1.9rem;
  font-size: var(--font-size-700);
  font-weight: var(--font-weight-semibold);
  letter-spacing: 0.27em;
  line-height: 7rem;
  color: var(--color-text-headline);
}

.featured-panel__body {
  letter-spacing: 0.002em;
  line-height: 2.8rem;
}

.featured-panel__form {
  position: relative;
  width: 100%;
}

.featured-panel__form-container {
  position: relative;
}

.featured-panel__form-container input[type="email"] {
  padding: 2.1rem 3.2rem 1.9rem;
  width: 100%;
  height: 5.6rem;
  border: 1px solid var(--color-border-base);
  border-radius: 99rem;
  outline: none;
}

.featured-panel__form-container input[placeholder] {
  font-family: inherit;
  font-size: var(--font-size-500);
  color: var(--color-text-headline);
}

.featured-panel__form-container .err-icon {
  position: absolute;
  top: 26%;
  right: 26%;
  transform: translateY(-25%);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: 300ms ease-in-out;
}

.featured-panel__form-container.error .err-icon {
  opacity: 1;
  visibility: visible;
  animation: shake 800ms ease-in;
}

.featured-panel__form-container .err-message {
  margin-top: 1rem;
  padding: 0 3.2rem;
  font-size: var(--font-size-400);
  letter-spacing: -0.03em;
  color: var(--color-text-error);
  opacity: 0;
  visibility: hidden;
  transition: 300ms ease-in-out;
}

.featured-panel__form-container.error .err-message {
  opacity: 1;
  visibility: visible;
}

.featured-panel__form .form-button {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 10rem;
  width: 100%;
  height: 5.6rem;
  background: var(--color-button-default);
  border: none;
  border-radius: 99rem;
  outline: none;
  cursor: pointer;
}

.featured-panel__form .form-button:hover::after {
  content: "";
  position: absolute;
  max-width: 10rem;
  width: 100%;
  height: 5.6rem;
  background: var(--g-linear-white-500);
  opacity: 0.2;
}

@media (min-width: 997px) and (max-width: 1599px) {
  .featured-panel__element,
  .featured-panel__img-container {
    flex: 1;
  }
}

.featured-panel__img-container {
  max-width: 61rem;
}

.featured-panel__img {
  width: 100%;
  height: 100%;
  background-image: url("../images/hero-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* .featured-panel__img-desktop img,
.featured-panell__img-mobile img {
  vertical-align: middle;
  width: 100%;
} */

@media only screen and (min-width: 1600px) {
  .featured-panel__img-container {
    min-width: 38%;
  }
}

@media only screen and (min-width: 997px) {
  .featured-panel__img-container {
    height: 100vh;
  }
}

@media only screen and (max-width: 996px) {
  .header__img-container {
    padding: 3.1rem 3.2rem 3.2rem;
  }

  .header__img-container img {
  }

  .viewport {
    margin-top: 8.4rem;
  }

  .featured-panel__container {
    flex-direction: column-reverse;
  }

  .featured-panel__content-overlay {
    padding: 0;
  }

  .featured-panel__content-container {
    padding-top: 11.6rem;
  }

  .featured-panel__text-content {
    text-align: center;
  }

  .featured-panel__subheadline,
  .featured-panel__headline {
    font-size: var(--font-size-600);
    line-height: 4.2rem;
  }

  .featured-panel__body {
    font-size: var(--font-size-400);
    line-height: 2.2rem;
    letter-spacing: 0.005em;
  }

  .featured-panel__img-container {
    max-width: 100%;
    width: 100%;
  }

  .featured-panel__img {
    min-height: 25rem;
    background-image: url("../images/hero-mobile.jpg");
    background-position-y: top;
  }
}

@media only screen and (max-width: 480px) {
  .featured-panel__content-container {
    padding: 6.4rem 0;
  }

  .featured-panel__headline {
    margin-bottom: 1.5rem;
  }

  .featured-panel__text-content {
    margin-bottom: 3.3rem;
  }

  .featured-panel__form-container input[type="email"] {
    padding: 1.7rem 2.4rem;
    height: 4.8rem;
    font-size: var(--font-size-400);
  }

  .featured-panel__form .form-button {
    max-width: 6.4rem;
    height: 4.8rem;
  }
}
